.header{
    background-color: #1f2937;
    display: flex;
    height: 305px;
    width: auto;
    flex-wrap: wrap;
    }

.header-logo{
    font-size: 1.5rem;
    color: #f9faf8;
    width: 50vh;
}
.heads{
    font-size: 4rem;
    font-weight: bold;
}

.nav{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 3em;
    font-size: 1.125rem;
    color: #e5e7eb;
    padding-left: 3rem;
    padding-right: 3rem;

}
.headerone{
    margin-right: 50%;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;
    color: #e5e7eb
}
.headerimg{
    margin-left: ;
    position: absolute;
    top: 6.25rem;
    right: 6.25rem;
}
.title{
    display: flex;
    font-size: 2.25rem;
    font-weight: bold;
    color: #1f2937;
    width: auto; 
    flex-direction: column; 
}
.info{
    text-align: center;
    width: 100%;
}
.item{  
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 1rem;
    flex: auto;
}
.quote{
    background-color: #e5e7eb;
    font-size: 2.25rem;
    font-weight: em;
    text-align: center;
    width: auto;
    justify-content: center;
}
.calltoaction{
    background-color: #3882f6;
}